.container
  %nav.navbar.navbar-expand-lg.navbar-light.border-bottom.mb-4.justify-content-md-between
    = link_to 'shooting_game', root_path, id: "logo"
    %ul.nav.nav-pills
      - if user_signed_in?
        %li.nav-item
          = button_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link link-danger"
      - else
        %li.nav-item
          = link_to '新規アカウント登録', new_user_registration_path, class: "nav-link link-danger"
        %li.nav-item
          = link_to 'ログイン', new_user_session_path, class: "nav-link link-danger"
